.home {
  width: 80%;
  margin: auto;
  font-family: sans-serif; }

.grid-container {
  display: grid;
  grid-template-columns: auto auto; }

.grid-item {
  text-align: center; }

.top-area {
  margin-top: 2em; }

.header {
  color: #a3a3a3;
  font-size: 1.5em;
  font-weight: 300;
  border: 0.02em solid #a5a5a5;
  width: 15.5em;
  padding: 0.5em;
  margin: auto;
  text-align: center; }

.bot-area {
  margin-top: 2.5em; }

.account {
  height: 18em;
  width: 15em;
  border: 0.02em solid #a5a5a5;
  text-align: center;
  margin: auto; }
  .account .title {
    text-align: center;
    color: #8b8b8b;
    margin-top: 1em;
    font-size: 1.5em;
    font-weight: 300; }
  .account .hash {
    text-align: center;
    color: #a7a7a7;
    font-size: 0.9em;
    margin: 0.25em;
    margin-bottom: 1.75em; }
  .account .ticker {
    text-align: left;
    color: #a7a7a7;
    font-weight: 500;
    margin-left: 2em;
    margin-top: 0.5em;
    font-size: 1.2em; }
  .account .amount {
    font-weight: 300; }

.create {
  height: 12em;
  width: 35em;
  border: 0.02em solid #a5a5a5;
  text-align: center;
  margin: auto; }
  .create .title {
    margin-top: 1.5em;
    margin-left: 2em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    text-align: left;
    color: #7a7676;
    font-weight: 300; }
  .create .status {
    margin-top: 0.25em;
    margin-left: 2.5em;
    font-size: 1.15em;
    text-align: left;
    color: #a7a7a7;
    font-weight: 300; }
